.paused {
  animation-play-state: paused;
}

.animate {
  animation-play-state: running;
}

.faldGood {
  animation-name: faldGood_kf;
  animation-duration: 2.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@keyframes faldGood_kf {
  0% {
    translate: 0 0;
  }

  100% {
    translate: 0 1300%;
  }
}

.faldBad {
  animation-name: faldBad_kf;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: both;
}
.speed0 {
  animation-duration: 2s;
}
.speed1 {
  animation-duration: 1.8s;
}
.speed2 {
  animation-duration: 1.6s;
}
.speed3 {
  animation-duration: 1.4s;
}

@keyframes faldBad_kf {
  0% {
    translate: 0 0;
  }

  100% {
    translate: 0 800%;
  }
}

.badClick {
  animation-name: badClick_kf;
  animation-duration: 0s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@keyframes badClick_kf {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.goodClick {
  animation-name: goodClick_kf;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@keyframes goodClick_kf {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    rotate: 360deg;
  }
}

.spin_0 {
  animation-name: spin_0;
  animation-duration: 4s;
}

@keyframes spin_0 {
  from {
  }
  to {
    rotate: 360deg;
  }
}

.spin_1 {
  animation-name: spin_1;
  animation-duration: 4s;
}

@keyframes spin_1 {
  from {
  }
  to {
    rotate: -360deg;
  }
}

.time {
  animation-name: time_kf;
  animation-duration: 10s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes time_kf {
  from {
  }
  to {
    rotate: 360deg;
  }
}
